page-contact {

}

.weather{
  background: #4d4d4d;
  color: #ffffff;
}

.location, .icon, .description{
  text-align: center;
}

.temp{
  text-align: center;
  font-size: 50px;
  font-weight: normal;
}
